/*Reseteamos desde cero en este fichero:*/
* {  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root { 
    font-family: robot;
} /*ROOT --> Se ponen valores genéricos, todo lo que todo va a tener el mismo valor. Por ejemplo: fuente.*/

/*Seguimos con el ejercicio:*/
.container {
    background-color: black;
    display: flex;
    height: 50px;
    position: sticky; /*Hay que poner el z-index*/
    top: 0px;
    z-index: 1; /*Traerlo al frente para no sobreponer.*/
    justify-content: space-between;
}

.logoSpotify {
    height: 50px;
    padding-left: 20px;
}

.navheader {
    display: none;
}


.enlaces {
    display: flex;
    color: white;
    width: 375px;
    justify-content: space-evenly;

    

}

.enlaces2 {
    text-decoration: none;
    list-style-type: none;

}

.logoBurger {
    height: 50px;
    width: 50px;
    /* poner un padding ¿? */
    
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    width: 100%;
    background-color: white;
}

.blue {
    background-color: #529cf1;
    color: white;
    height: 50vh; /*50% KO alto pantalla, daría error pq el body no tiene altura definida, habría que poner el vh (alto de la pantalla).*/
    position: relative;
    background-image: url("./images/premium_dancer.png"); /*Así la img no es un elemento de HTML, sino que se acopla al fondo siendo URL, se queda por detrás.*/
    background-repeat: no-repeat;
    background-position:right /*MOVERLA, MIRAR TEXTO*/
}

.planes {
    display: inline-block;
    border-radius: 500px; /* Para bordear el "rectángulo" */
    background-color: rgb(26, 183, 62);
    padding: 20px;
    margin: 20px;
}

/* h2 {
    width: 100vw;
} */

.white {
    background-color: white;
    /* border: solid 8px red; */
    padding-bottom: 50px;
    color: black;
    display: block;
    justify-content: space-between;
}

.footer {
    border: 3px solid red;
    padding: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dancer {
    display: flex;
    justify-content: right;
}

.box {
    display: flex;
    flex-direction: column;
    /* border: dashed blue; */
    width: 50%;
}

.benefit {
    display: flex;
}
.div1 {
    border: 2px solid yellow;
    display: flex;
    justify-content: space-around;
}

.cookies {
    margin-left: 15px;
}

.información {
    display: flex;
    /*como bajar la línea */
}
.div2 {
    border: 2px solid green;
    display: flex;
}

/*RESPONSIVE*/
/* 1. MOBILE PHONE: No hace falta ponerlo -> hasta 480px */
/* 2. TABLET: min 480px y 1000px */
/* 3. DESKTOP: >1000px */

/*Para que se oculte en la tablet*/
@media (min-width: 480px) {
    .logoBurger {
        display: none;
    }
    .navheader {
        display: block;
    }
    /* .burger: display: none; /*selectores ACABAR*/  
}
 
    


/*solo esto para desktop*/
@media (min-width: 1000px) {
        /* display: flex; para que se vuelva a ver a partir de 1000px. ACABAR*/
}

